@{
    ViewBag.Title = "Meeting Page";
}

<main class="text-center">

    <h1 class="h4">Meeting Page</h1>
    <p>There is 20 more attendees including you.</p>
    <a class="btn btn-sm btn-outline-primary" href="#">List the attendees</a>
</main>