<h1 class="h4">List of Attendees</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Participation Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Doe</td>
            <td>Attending</td>
            <td><a class="btn btn-sm btn-primary" href="#">View Details</a></td>
        </tr>
        <tr>
            <td>Jane Smith</td>
            <td>Attending</td>
            <td><a class="btn btn-sm btn-primary" href="#">View Details</a></td>
        </tr>
    </tbody>
</table>