@model List<UserInfo>
@{
    ViewBag.Title = "List of Attendees";
}

<main class="text-center">

    <h1 class="h4">List of Attendees</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Participation Status</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @{int i = 0;}

            @foreach (var user in Model)
            {

                var className = user.WillAttend ? "table-success" : "table-danger";

                if (user.WillAttend)
                {
                    i++;
                }
                <tr class="@className">
                    <td>@user.Name</td>
                    <td>@(user.WillAttend ? "Attending" : "Not Attending")</td>
                    <td><a class="btn btn-sm btn-primary" href="/meeting/details/@user.Id">View Details</a></td>
                </tr>
            }

        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <span>There are @i attendees registered for the meeting.</span>
        </div>
    </div>
</main>