@{
    ViewBag.Title = "Register Form";
}

<h1 class="h4 text-center">Register Form</h1>
<form method="post" action="/Meeting/Register">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" id="Name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="Email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Phone Number</label>
        <input type="tel" name="Phone" class="form-control" id="Phone">
    </div>
    <div class="mb-3">
        <label for="WillAttend" class="form-label">Participation Status</label>
        <select name="WillAttend" id="WillAttend" class="form-select">
            <option value="true">Attending</option>
            <option value="false">Not Attending</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>