@{
    ViewBag.Title = "Register Form";
}

<h1 class="h4 text-center">Register Form</h1>
<form action="">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" id="Name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="Email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="Phone Number" class="form-label">Phone Number</label>
        <input type="tel" name="PhoneNumber" class="form-control" id="Phone Number">
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Participation Status</label>
        <select class="form-select" name="Status" id="status">
            <option value="Attending">Attending</option>
            <option value="Not Attending">Not Attending</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>