@model efcoreApp.Data.CourseEnrollment

<h2>Add Course Enrollment</h2>
<hr>
<form asp-controller="CourseEnrollment" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="StudentId" class="form-label">Student</label>
        <select asp-for="StudentId" asp-items="ViewBag.Students" class="form-control">
            <option value="">Select</option>
        </select>
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>

        <div class="mb-3">
        <label asp-for="CourseId" class="form-label">Course Name</label>
        <select asp-for="CourseId" asp-items="ViewBag.Courses" class="form-control">
            <option value="">Select</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Save</button>
</form>